/* linux-contents css */
*{
    box-sizing: border-box;
}

.container2{
    display: none;
}

.container{
    margin: 50px auto;
    max-width: 1170px;
    width: 100%;
    background-color: #343432;
    height: 250px;
    border-radius: 20px;
}

.content-container{
    display:flex;
    justify-content: center;
}

.linux-content{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    border-radius: 20px;
    float: left;
    max-width: 180px;
    width: 100%;
    height: 180px;
    margin: 20px 30px;
    text-align: center;
    background-color: white;
    opacity: 1;
    transition: opacity 0.3s;
}

.linux-content:hover{
    opacity: 0.7;
}

.content-title{
    font-size: 9px;
    margin-top: 10px;
}

.arrow{
    line-height: 260px;    
    display:block;
}

.arrow img{
    cursor: pointer;
    width: 70px;
}

.arrow-outside{
    display: none;
    background-color: black;
    margin: 0 auto;
}

/* Style for linux-content */

.linux-content img{
    margin-top: 5px;
}

.ubuntu{
    background-color: #fff;
}

.kali-linux{
    background-color: #2C87CE;
}

.linux-mint{
    background-color: #86BE43;
}

.debian{
    background-color: #FFB700;
}

.fedora-linux{
    background-color: #fa7d35;
}

.suse-linux{
    background-color: #FFFFFF;
}

.kubuntu{
    background-color: #2C87CE;
}

.arch-linux{
    background-color: #FFB515;
}

